<!doctype html>
<html lang="en" ng-app='tyrelSite' ng-init>
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>TyrelTjoelker.com</title>
	<link rel="stylesheet" type="text/css" href="styles/styles.css" />
	<!-- Angular -->
	<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js'></script>
	<!-- Angular for slider -->
	<script src="scripts/app.js"></script>
	<script src="scripts/sliderController.js"></script>
	<!-- Angular for displaying skills -->
	<script src="scripts/skillControllers.js"></script>
	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//use.typekit.net/cun3khp.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
	<div class="headerBackground">
		<!-- header image -->
		<div class="header">
			<h1>TYREL TJOELKER</h1>
		
	</div>



		<!-- nav bar -->
		<nav>
			<div>
				<ul>
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#projects" class="scroll">Projects</a></li>
					<li><a href="#kindWords" class="scroll">Kind words</a></li>
					<li><a href="#connect" class="scroll">Connect</a></li>
				</ul>
			</div>
		</nav>
<!-- 		<div class="borderBottom"></div> -->
	</div>
<!-- About section -->
<div class="wrap">
	<div class="padding50" id="about">
		<h1>About Tyrel</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi, architecto, beatae, perspiciatis, laborum magni facere quod iste inventore expedita odio fugit natus ab eius dicta placeat sed excepturi tenetur dolor harum voluptatibus doloremque temporar unde esse repellendus saepe ipsa in voluptas dignissimos obcaecati quae eos corrupti nulla officiis temporibus incidunt.</p>
		
		<div class="centeredContainer">
			<a href="#connect" class="scroll">
				<button type="button" class="primaryCTA topExtend">Connect with me</button>
			</a>
		</div>


	</div>
	
	<!-- Start three-column stuff -->
	<div class="email padding100" id="projects" ng-controller='emailController'>
		<h1>Marketing</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim, voluptatum molestiae quidem quia laborum ullam eaque iure odio laudantium illo.</p>
		<div class="projectImages mobileHidden">
				<ul>
					<li><a href=""><button ng-class='{currentBackground: current == 1}' class="emailCTA workImage" ng-click='setCurrent(1)'>Email marketing</button></a></li>
					<li class="centerCircle"><a href=""><button ng-class='{currentBackground: current == 2}' class="copyCTA workImage" ng-click='setCurrent(2)'>Copywriting</button></a></li>
					<li><a href=""><button ng-class='{currentBackground: current == 3}' class="educationCTA workImage" ng-click='setCurrent(3)'>Education</button></a></li>
				</ul>
			
		</div>

		<div class="visible" ng-class='{visible: current ==1, desktopHidden: current != 1}'>
		<div><button class="emailCTA workImage desktopHidden">Email marketing</button></div>

			<div class="leftColumn">
				<h3>Lorem ipsum dolor sit amet, consectetur.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, at, est, unde, labore amet corporis nam velit provident molestias ducimus aspernatur aut. Harum, dolores, veniam, similique iste quae voluptas quasi impedit ratione totam neque dolor labore aliquid numquam a quisquam fuga quidem consectetur dolorum officiis assumenda et ea hic odio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, temporibus id laudantium qui consequuntur iste.</p>


			</div>
			
			<div class="rightColumn">
				<h3>Summary of skills</h3>
					
				<ul>
					<li>Email automation</li>
					<li>A/B testing</li>
					<li>Lyris ListManager</li>
					<li>Email HTML and CSS</li>
					<li>List management</li>
					<li>List growth</li>
				</ul>
			</div>
			<div class="rightContainer">
				<a href="#connect" class="scroll">
					<button class="primaryCTA">See a work sample</button>
				</a>
			</div>
		</div>

		<div ng-class='{visible: current ==2, desktopHidden: current != 2}'>
		<div><button class="emailCTA workImage desktopHidden">Copywriting</button></div>
			<div class="leftColumn">
				<h3>Lorem ipsum dolor sit.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate velit eveniet voluptatibus vitae eligendi. Dignissimos, ex, soluta nihil deserunt fugit eveniet saepe quas facilis laborum asperiores corporis optio illum voluptas?</p>
			</div>

			<div class="rightColumn">
				<h3>Summary of skills</h3>
				<ul>
					<li>Logos Bible Software</li>
					<li>Bellingham, WA 98225</li>
					<li>June 2013&ndash;present</li>
				</ul>
			</div>
			<div class="rightContainer">
				<a href="#connect" class="scroll">
					<button class="primaryCTA">See a work sample</button>
				</a>
			</div>
		</div>

		<div ng-class='{visible: current ==3, desktopHidden: current != 3}'>
		<div><button class="emailCTA workImage desktopHidden">Education</button></div>
			<div class="leftColumn">
				<h3>Lorem ipsum dolor sit amet.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate velit eveniet voluptatibus vitae eligendi. Dignissimos, ex, soluta nihil deserunt fugit eveniet saepe quas facilis laborum asperiores corporis optio illum voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, iusto.</p>
			</div>

			<div class="rightColumn">
				<h3>Summary of skills</h3>
				<ul>
					<li>Logos Bible Software</li>
					<li>Bellingham, WA 98225</li>
					<li>June 2013&ndash;present</li>
				</ul>
			</div>
			<div class="rightContainer last">
				<a href="#connect" class="scroll">
					<button class="primaryCTA">See a work sample</button>
				</a>
			</div>
		</div>
	</div>

	<!-- start code section -->

	<div class="web clear padding100" ng-controller='webController'>
		<h1>Code</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque, numquam, minima, repellendus, ad inventore dolores rerum nesciunt animi aliquam ducimus nobis aspernatur magnam quae beatae quisquam repellat tenetur rem dignissimos.</p>
		<div class="projectImages mobileHidden">
				<ul>
					<li><a href=""><button ng-class='{currentBackground: current == 1}' class="emailCTA workImage" ng-click='setCurrent(1)'>My site</button></a></li>
					<li class="centerCircle"><a href=""><button ng-class='{currentBackground: current == 2}' class="copyCTA workImage" ng-click='setCurrent(2)'>SublimeScript</button></a></li>
					<li><a href=""><button ng-class='{currentBackground: current == 3}' class="educationCTA workImage" ng-click='setCurrent(3)'>Github</button></a></li>
				</ul>
			
		</div>
	<div class="visible" ng-class='{visible: current ==1, desktopHidden: current != 1}'>
		<div><button class="emailCTA workImage desktopHidden">My site</button></div>
		<div class="leftColumn">
				<h3>Lorem ipsum dolor sit amet.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate velit eveniet voluptatibus vitae eligendi. Dignissimos, ex, soluta nihil deserunt fugit.</p>
			</div>

			<div class="rightColumn">
				<h3>Summary of skills</h3>
				<ul>
					<li>Logos Bible Software</li>
					<li>Bellingham, WA 98225</li>
					<li>June 2013&ndash;present</li>
				</ul>
			</div>
			<div class="rightContainer">
				<a href="#connect" class="scroll">
					<button class="primaryCTA">See a work sample</button>
				</a>
			</div>
		</div>

		<div class="visible" ng-class='{visible: current ==2, desktopHidden: current != 2}'>
			<div><button class="emailCTA workImage desktopHidden">SublimeScript</button></div>
			<div class="leftColumn">
				<h3>Lorem ipsum dolor sit amet.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate velit eveniet voluptatibus vitae eligendi. Dignissimos, ex, soluta nihil deserunt fugit eveniet saepe quas facilis laborum asperiores corporis optio illum voluptas? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, iusto. Lorem ipsum dolor sit amet.</p>
			</div>

			<div class="rightColumn">
				<h3>Summary of skills</h3>
				<ul>
					<li>Logos Bible Software</li>
					<li>Bellingham, WA 98225</li>
					<li>June 2013&ndash;present</li>
				</ul>
			</div>
			<div class="rightContainer">
				<a href="#connect" class="scroll">
					<button class="primaryCTA">See a work sample</button>
				</a>
			</div>
		</div>

		<div class="visible" ng-class='{visible: current ==3, desktopHidden: current != 3}'>
			<div><button class="emailCTA workImage desktopHidden">Github</button></div>
			<div class="leftColumn">
				<h3>Lorem ipsum dolor sit amet.</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate velit eveniet voluptatibus vitae eligendi. Dignissimos, ex, soluta nihil deserunt fugit eveniet saepe quas facilis laborum asperiores corporis optio illum voluptas?</p>
			</div>

			<div class="rightColumn">
				<h3>Summary of skills</h3>
				<ul>
					<li>Logos Bible Software</li>
					<li>Bellingham, WA 98225</li>
					<li>June 2013&ndash;present</li>
				</ul>
			</div>
			<div class="rightContainer last">
				<a href="#connect" class="scroll">
					<button class="primaryCTA">See a work sample</button>
				</a>
			</div>
		</div>
	</div>


	<!-- End three-column stuff -->
	
	<!-- Kind words -->
		<div class="clear padding100" id="kindWords">
			<custom-slider></custom-slider>
		</div>
	<!-- Connect -->
		</div>
			<div class="contact margin100" id="connect">
				<div class="contactInfo">
					<h1>Let&rsquo;s connect:</h1>
					<ul>
						<!-- <li><div class="whiteCircleHover"><img src="images/gitHub.png" /></div></li> -->
						<li><div class="whiteCircleHover"><img src="images/LinkedInOutline.png" /></div></li>
						<li><div class="whiteCircleHover"><img src="images/twitterOutline.png" /></div></li>
					</ul>
					<div class="centeredContainer">
					<a href="#connect" class="scroll">
						<button type="button" class="primaryCTA wide">tyrel.tjoelker@gmail.com</button>
					</a>
				</div>
			</div>		
		</div>

	

		<!-- Footer -->
	<footer>
		<div>
			<p>&copy; 2014 Tyrel Tjoelker. Special thanks to David Davidson and Pam Bauthues.</p>
		</div>
	</footer>
	<script>
		function setHeight() {
			// Set minimums
			minCtaHeight = 450;
			
			// Measure stuff
			totalHeight = $(window).height();
			navHeight = $('nav').height();
			h1Height = $('h1').height();
			footerHeight = $('footer').height();
			borderHeight = $('.borderBottom').height();
			contactInfoHeight = $('.contactInfo').height();
			
			// Calculate stuff
			ctaHeight = totalHeight - footerHeight;
			if (ctaHeight < minCtaHeight) {
				ctaHeight = minCtaHeight;
			}
			imageHeight = totalHeight - (navHeight + borderHeight);
			topPaddingHeight = imageHeight / 2.25;
			ctaPaddingHeight = ((ctaHeight - contactInfoHeight) / 3);
			
			// Apply heights
			$('.headerBackground').css({"height": totalHeight})
			$('.header').css({"height": imageHeight});
			$('.header h1').css({"margin-top": topPaddingHeight});
			$('#connect').css({'height': ctaHeight});
			$('.contactInfo').css({'padding-top': ctaPaddingHeight});
		}
		setHeight();
		$(window).resize(function() {
			setHeight();
		});
		$(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
			});
		});
	</script>
</body>
</html