<!doctype html>
<html lang="en" ng-app='tyrelSite' ng-init>
<head>
	<meta charset="UTF-8">
	 <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Tyrel Tjoelker | marketing, copywriting, web development</title>
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">

	<meta name="description" content="See my portfolio of marketing projects, web development, and more.">

	<link rel="stylesheet" type="text/css" href="styles/styles.css" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,100,100italic|Fira+Sans:300,400' rel='stylesheet' type='text/css'>

	<!-- Angular -->
	<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js'></script>
	<!-- Angular for slider -->
	<script src="scripts/app.js"></script>
	<script src="scripts/sliderController.js"></script>
	<!-- Angular for displaying skills -->
	<script src="scripts/skillControllers.js"></script>
	<!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="//use.typekit.net/cun3khp.js"></script>
</head>
<body>
	<div class="headerBackground">
		<!-- header image -->
		<div class="header">
			<div class="heroContent">
				<h1>TYREL TJOELKER</h1>
			</div>
		</div>
	<!-- </div> -->
		<!-- nav bar -->
		<nav>
			<div>
				<ul>
					<li><a href="#about" class="scroll">About</a></li>
					<li><a href="#projects" class="scroll">Projects</a></li>
					<li><a href="#kindWords" class="scroll">Kind words</a></li>
					<li><a href="#connect" class="scroll">Connect</a></li>
				</ul>
			</div>
		</nav>
<!-- 		<div class="borderBottom"></div> -->
	</div>
<!-- About section -->
<div class="wrap">
	<div class="padding50" id="about">
	
		<h1>ABOUT ME</h1>
		<img src="images/profile.jpg" class="profile mobileHidden"/>
		<p>I&rsquo;m a marketer from Bellingham, WA, who works on stuff like <a href="http://www.logos.com">this</a> and <a href="http://www.sublimescript.com">this</a>. I&rsquo;m dedicated to learning new things, solving problems in innovative ways, and bettering the lives of those around me.</p>
		

		<!-- <p>If you&rsquo;re the kind of person who&rsquo;s into personality tests and stuff like that, here&rsquo;s a quick rundown:</p>
		<ul style="margin-left: 295px; list-style: disc inside;">
			<li>Meyers-Briggs: INTP</li>
			<li>StrengthsFinder: achiever, command, competition, deliberative, and analytical</li>
		</ul> -->

		<p>I&rsquo;m always down for an adventure, and in my free time you can find me watching soccer, exploring the outdoors, discovering new hip-hop music, and traveling. When I get old, I might move to the beach to become the old man from <em>The Old Man and the Sea</em>&mdash;one of my favorite books. Or Survivorman. Or my grandpa. I&rsquo;m not quite sure yet, but I promise it will be interesting.</p>

		<p><strong>Tackling new challenges is one of my favorite things. Let&rsquo;s get in touch.</strong> </p>
		
		
			<a href="#connect" class="scroll">
				<button type="button" class="primaryCTA topExtend">Connect with me</button>
			</a>
		


	</div>
	
	<!-- Start three-column stuff -->
	<div class="email padding100" id="projects" ng-controller='emailController'>
		<h1>MARKETING PROJECTS</h1>
		<p>The best marketing connects people, solves difficult problems, adds a little flavor to life, and leaves everyone feeling better than they did before. <strong>I want to help you delight your customers&mdash;<a href="#connect" class="scroll">let&rsquo;s work together</strong></a>.</p>

		<!-- <p>Here are some things I like about marketing:</p>
		<ol style="list-style: decimal inside; margin-left: 20px;">
			<li>Marketing connects people, sometimes in unexpected ways.</li>
			<li>Marketing adds value to real life.</li>
			<li>Marketing solves difficult problems.</li>
			<li>Marketing influences everything from product development to corporate-level strategy.</li>
			<li>Marketing may have a tarnished reputation, but it&rsquo;s being rebuilt by good people.</li>
		</ol> -->
		<p></p>
		<p class="body">Check out some of the work I&rsquo;ve done below:</p>
		<div class="projectImages mobileHidden">
				<ul>
					<li><a href=""><button ng-class='{currentBackground: current == 1}' class="emailCTA workImage" ng-click='setCurrent(1)'>Email marketing</button></a></li>
					<li class="centerCircle"><a href=""><button ng-class='{currentBackground: current == 2}' class="copyCTA workImage" ng-click='setCurrent(2)'>Copywriting</button></a></li>
					<li><a href=""><button ng-class='{currentBackground: current == 3}' class="educationCTA workImage" ng-click='setCurrent(3)'>Education</button></a></li>
				</ul>
			
		</div>

		<div class="visible" ng-class='{visible: current ==1, desktopHidden: current != 1}'>
		<div><button class="emailCTA workImage desktopHidden">Email marketing</button></div>

			<div class="leftColumn">
				<h3>I speak CTAs and subject lines.</h3>
				<p>I manage, analyze, and optimize targeted-marketing channels for <a href="https://www.logos.com">Logos Research Systems Inc</a>. I&rsquo;ve rehabilitated underperforming email lists, created new ways to target users, increased engagement and revenue on lists with more than 500,000 members, and more.</p>

				<p class="body">I specialize in email-template creation, list strategy and growth, A/B testing, automation, CAN-SPAM compliance, and content development.</p>
			</div>
			
			<div class="rightColumn">
				<h3>Summary</h3>
				<ul>
					<li>Email automation</li>
					<li>A/B testing</li>
					<li>Email HTML and CSS</li>
					<li>List management</li>
					<li>List growth</li>
					<li>Segmentation and targeting</li>
					<li>Freebie monetization</li>
					<li>Sequential campaigns</li>
					<li>Lyris ListManager</li>
				</ul>
			</div>
			<div class="rightContainer">
				<form method="get" action="http://www.tyreltjoelker.com/tyrel-tjoelker_email.pdf" target="_blank">
					<button type="submit" class="primaryCTA">See what I&rsquo;ve done</button>
				</form>
			</div>
		</div>

		<div ng-class='{visible: current ==2, desktopHidden: current != 2}'>
		<div><button class="emailCTA workImage desktopHidden">Copywriting</button></div>
			<div class="leftColumn">
				<h3>I write to solve problems and spread ideas.</h3>
				<p>Whether I&rsquo;m writing a promotional email, product copy, or social-media posts, I write with clarity, benefits, and resonance in mind. I believe words are beautiful, but more importantly, I know they&rsquo;re useful&mdash;if used well, they can provide solutions to just about any problem.</p>
				<p>The right words connect people and spread ideas. <strong>I&rsquo;ll help you find&nbsp;them</strong>.</p>
			</div>

			<div class="rightColumn">
				<h3>Summary</h3>
				<ul>
					<li>Content-based and promotional emails</li>
					<li>Social-media posts</li>
					<li>Product copy</li>
					<li>Brand voice and story</li>
					<li><em>Chicago Manual of Style</em></li>
				</ul>
			</div>
			<div class="rightContainer">
				<a href="#kindWords" class="scroll">
					<button class="primaryCTA">See what my editors said</button>
				</a>
			</div>
		</div>

		<div ng-class='{visible: current ==3, desktopHidden: current != 3}'>
		<div><button class="emailCTA workImage desktopHidden">Education</button></div>
			<div class="leftColumn">
				<h3>I have a degree in marketing.</h3>
				<p>I graduated from Western Washington University, located in the beautiful Pacific Northwest. During my time there, I worked on integrated marketing communications (IMC) projects, created sustainability reports, built full-fledged marketing plans, and gained real-world professional skills through internships.</p>
			</div>

			<div class="rightColumn">
				<h3>Summary</h3>
				<ul>
					<li>BA, Business Administration (marketing concentration)</li>
					<li>Spanish minor</li>
					<li><em>Magna Cum Laude</em></li>
					<li>Western Washington University, class of 2014</li>
				</ul>
			</div>
			<div class="rightContainer last">		
				<form method="get" action="http://www.tyreltjoelker.com/tyrel-tjoelker_imc.pdf" target="_blank">
					<button type="submit" class="primaryCTA">See my IMC project</button>
				</form>
			</div>
		</div>
	</div>

	<!-- start code section -->

	<div class="web clear padding100" ng-controller='webController'>
		<h1>WEB-DEVELOPMENT PROJECTS</h1>
		<p class="body">I&rsquo;ve always been enthralled by web development.</p>
		<p class="body">I&rsquo;m not a developer, though&mdash;I&rsquo;m just a marketer who loves code, and <strong>I want to help you tell your brand&rsquo;s story</strong> through your website.</p>
		<p class="body">Check out some of the things I&rsquo;ve built:</p>

		<div class="projectImages mobileHidden">
				<ul>
					<li><a href=""><button ng-class='{currentBackground: current == 1}' class="emailCTA workImage" ng-click='setCurrent(1)'>My site</button></a></li>
					<li class="centerCircle"><a href=""><button ng-class='{currentBackground: current == 2}' class="copyCTA workImage" ng-click='setCurrent(2)'>SublimeScript</button></a></li>
					<li><a href=""><button ng-class='{currentBackground: current == 3}' class="educationCTA workImage" ng-click='setCurrent(3)'>GitHub</button></a></li>
				</ul>
			
		</div>
	<div class="visible" ng-class='{visible: current ==1, desktopHidden: current != 1}'>
		<div><button class="emailCTA workImage desktopHidden">My site</button></div>
		<div class="leftColumn">
				<h3>You&rsquo;re looking at right now.</h3>
				<p>Let&rsquo;s be honest: I created this site so I could get in touch with people like you. Along the way, however, I got to use some pretty nifty tools&mdash;like Sass, JavaScript, Grunt, and Git. (And my old friend, the trusty dry-erase board.)</p>
			<!-- 	<p>Now&rsquo;s probably a good time to give a shout out to <a href="http://www.daviddavidson.io">David Davidson</a>&mdash;he helped me bring this site to life.</p> -->
				<p>If you&rsquo;d like to check out the source code, head over to <a href="http://www.github.com/tyrelt">my GitHub profile</a>. Feel free to fork, modify, and use whatever you&rsquo;d like.</p>
			</div>

			<div class="rightColumn">
				<h3>Summary</h3>
				<ul>
					<li>Built from the ground up&mdash;no template</li>
					<li>HTML, Sass, and JavaScript</li>
					<!-- <li>Help from <a href="http://www.daviddavidson.io">David Davidson</a> and <a href="http://www.twitter.com/pambauthues">Pam&nbsp;Bauthues</a></li>
 -->				<li>Spring 2014</li>
				</ul>
			</div>
			<div class="rightContainer">
				<a href="http://www.github.com/tyrelt">
					<button class="primaryCTA">See the source code</button>
				</a>
			</div>
		</div>

		<div class="visible" ng-class='{visible: current ==2, desktopHidden: current != 2}'>
			<div><button class="emailCTA workImage desktopHidden">SublimeScript</button></div>
			<div class="leftColumn">
				<h3>Who doesn&rsquo;t want a robot to do all their boring work?</h3>
				<p>Web copywriters and email marketers go back and forth between Microsoft Word and Sublime Text all day, every day&mdash;spending their valuable time typing out characters, marking up text, and manually refreshing their browser.</p>
				<p>With some like-minded friends, I came up with a solution to this problem: <a href="http://www.sublimescript.com">SublimeScript</a>. This friendly robot increases writers&rsquo; efficiency by automating the busywork.</p>


			</div>

			<div class="rightColumn">
				<h3>Summary</h3>
				<ul>
					<li>Productivity tool</li>
					<li>Product vision</li>
					<li>AutoHotkey_L, CSS, and HTML</li>
					<li>Winter 2013</li>
				</ul>
			</div>
			<div class="rightContainer">
				<a href="http://www.sublimescript.com">
					<button class="primaryCTA">Meet the robot</button>
				</a>
			</div>
		</div>

		<div class="visible" ng-class='{visible: current ==3, desktopHidden: current != 3}'>
			<div><button class="emailCTA workImage desktopHidden">GitHub</button></div>
			<div class="leftColumn">
				<h3>See what else I&rsquo;ve worked on.</h3>
				<p>Head over to <a href="http://www.github.com/tyrelt">my GitHub profile</a> to see some of the other coding projects I&rsquo;ve worked on. It might look a little sparse right now, but check back soon&mdash;new things are on the way.</p>
				<p>I love taking on new projects&mdash;let&rsquo;s tackle one together.<p>
			</div>

			<div class="rightColumn">
				<h3>Summary</h3>
				<ul>
					<li><a href="http://www.github.com/tyrelt">My GitHub profile</a></li>
					<li>See additional work</li>
					<li>New projects added regularly</li>
				</ul>
			</div>
			<div class="rightContainer last">
				<a href="http://www.github.com/tyrelt">
					<button class="primaryCTA">See my work</button>
				</a>
			</div>
		</div>
	</div>

	<!-- End three-column stuff -->
	<div class="imageLoader">
	<img src="../images/github_active.png" alt="">
	<img src="../images/twitter_active.png" alt="">
	<img src="../images/linkedin_active.png" alt="">
	</div>

	
	<!-- Kind words -->
		<div class="clear padding100" id="kindWords">
			<custom-slider></custom-slider>
		</div>
	<!-- Connect -->
		</div>
			<div class="contact margin100" id="connect">
				<div class="contactInfo">
					<h1>LET&rsquo;S CONNECT</h1>
					<ul>
						<li><a href="https://github.com/tyrelt"><div class="shareIcon gitHubSocial"></div></a></li>
						<li><a href="https://twitter.com/tyreltjoelker"><div class="shareIcon twitterSocial"></div></a></li>
						<li><a href="https://www.linkedin.com/pub/tyrel-tjoelker/68/975/490"><div class="shareIcon linkedinSocial"></div></a></li>
					</ul>
					<div class="centeredContainer">
					<a href="mailto:tyrel.tjoelker@gmail.com">
						<button type="button" class="primaryCTA wide">tyrel.tjoelker@gmail.com</button>
					</a>
				</div>
			</div>		
		</div>

	

		<!-- Footer -->
		<footer>
		<div>
			<p>&copy; 2014 Tyrel Tjoelker. Special thanks to <a href="http://www.daviddavidson.io">David Davidson</a> and <a href="https://twitter.com/pambauthues">Pam Bauthues</a>.</p>
		</div>
	</footer>
	<script>
		function setHeight() {
			// Set minimums
			// minCtaHeight = 450;
			
			// Measure stuff
			totalHeight = $(window).height();
			navHeight = $('nav').height();
			h1Height = $('h1').height();
			footerHeight = $('footer').height();
			borderHeight = $('.borderBottom').height();
			contactInfoHeight = $('.contactInfo').height();
			heroContentHeight = $('.heroContent').height();
			
			// Calculate stuff

			// alert(navHeight);
			ctaHeight = totalHeight - footerHeight;
 			imageHeight = totalHeight - (navHeight + borderHeight);
			// topPaddingHeight = imageHeight / 2.25;

			// We use this number to set padding-top on .contactInfo
			

			if (heroContentHeight > imageHeight) {
                imageHeight = heroContentHeight;
                totalHeight = heroContentHeight + navHeight; // Protects the nav
            }

            if (contactInfoHeight > ctaHeight) {
            	ctaHeight = contactInfoHeight;
            }
            ctaPaddingHeight = ((ctaHeight - contactInfoHeight) / 2.25);
            // Needs to follow the min height
            // Also, note that we subtract heroContent from image *b4* the division
            topPaddingHeight = (imageHeight - heroContentHeight) / 2.25;
			
			// Apply heights
			$('.headerBackground').css({"height": totalHeight})
			$('.header').css({"height": imageHeight});
			$('.heroContent').css({'margin-top': topPaddingHeight});
			$('#connect').css({'height': ctaHeight});
			$('.contactInfo').css({'margin-top': ctaPaddingHeight});
		}
		setHeight();
		$(window).resize(function() {
			setHeight();
		});
		$(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
			});
		});
	</script>
</body>
</html