div.contact {
	text-align: center;
	background-color: $lightBlue;
	color: white;
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
}
.contact{
    li {
        display: inline-block; // "floats" the icons
        .whiteCircleHover {
            border-radius: 50px; // intentionally smaller than the img width
            width: 100px;
            height: 100px;
            display: inline-block;
            position: relative; // So we can absolute position the image on top
            margin: 49px 15px 40px 15px; // Just for regular old spacing
            img {
                position: absolute;
                // width: 120px;
                left: -15px; // No elegant argument for this: it's just what works
                top: -15px;
            }
            &:hover {
                background-color: $lightGray;
                cursor: pointer;
            }
        }
    }

}