.contact {
	text-align: center;
	background-color: $lightBlue;
	width: 100%;
	overflow: hidden;
	padding: 50px 0;
    h1{
        color: white;
    }
    .contactInfo {
        display: inline-block;
        button {
            margin-bottom: 40px;
        }
        // margin-bottom: 40px;
    }
}
.contact{
    li {
        display: inline-block; // "floats" the icons
        margin: 0 10px;
            &:hover {
                cursor: pointer;
            }
        }
}

#connect {
    margin: 0;
    padding: 0;
    margin-top: 100px;
}
.imageLoader {
    position: relative;
    img {
        position: absolute;
        left: -9999px
    }
}

.shareIcon {
    display: block;
    background-size: 128px 128px;
    width: 128px;
    height: 128px;
}

.gitHubSocial{
    background-image: url(../images/github.png);
    &:hover{
        background-image: url(../images/github_active.png);
    }
}

.twitterSocial{
    background-image: url(../images/twitter.png);
    &:hover{
        background-image: url(../images/twitter_active.png);
    }
}

.linkedinSocial{
    background-image: url(../images/linkedin.png);
    &:hover{
        background-image: url(../images/linkedin_active.png);
    }
}