footer {
    background-color: $gray;
    // opacity: 0.8;
    display: inline-block; // Necessary for background color to work
    width: 100%;
    text-align: center;
    div{
        max-width: 1000px;
        margin: 0 auto;
        color: white;
    }
    
}