footer {
    background-color: $darkGray;
    // opacity: 0.8;
    display: inline-block; // Necessary for background color to work
    width: 100%;
    padding: 30px 0;
    text-align: center;

    div{
        max-width: 1000px;
        margin: 0 auto;    
        p{ 
            font-size: 16px;
            color: white;
        }
    }
}
    
