// Color variables
$darkGray: rgb(60,60,60);
$gray: rgb(90,90,90);
$mediumGray: rgb(180, 180, 180);
$grayOpaque: rgba(60,60,60,0.8); // Must match $gray
$whiteOpaque: rgba(255,255,255,0.6);
$transparent: rgba(255,255,255,0);
$lightGray: rgb(230,230,230);
$blue: rgb(0,50,60);
$blueOpaque: rgba(0,50,60,0.8); // Must match $blue
$lightBlue: rgb(95,158,160);
$purple: rgb(50,20,25);
$red: rgb(95,15,15);
$yellow: rgb(250,155,30);


a{
    color: $yellow;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}
//Page styling

body {
	margin: 0 auto;
	background-color: white;
	height: auto;
	min-height: 100%;
}


// Headers and body text

.header{
	h1{
		text-align: center;
	}
}

h1 {
	// margin: 35px 15px 35px 15px;
	font-family: 'Fira Sans', sans-serif;  
	text-align: light;
	font-size: 4em;
	font-weight: 300;
	color: $darkGray;
}

h2{ 
	// margin: 0 15px 25px 15px;
	font-family: 'Fira Sans', sans-serif;
	font-size: 2em;
	font-weight: 300;
	color: $darkGray;
}

h3{ 
	font-size: 1.5em;
	font-weight: 400;
	margin: 0 0 10px 0;
	color: $darkGray;
	font-family: 'Fira Sans', sans-serif;
}
p{ 
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	color: $darkGray;
	padding: 0;
	margin-bottom: 20px;
	line-height: 1.3em;
}

li { 
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.3em;
	color: $darkGray;
}

// Useful classes

.marginBottom20{
	margin-bottom: 20px;
}

.marginBottom10{
	margin-bottom: 10px;
}

.marginBottom50{
	margin-bottom: 50px;
}

.clear{ 
	clear: both;
}

.twoColumnContainer{
	width: 100%;
}


.wrap{
	margin: 0 6%;
	max-width: 1000px;
}
.headerBackground {
    // background: url(../images/tyrelAndPam.jpg) no-repeat center center fixed;
    background-color: $lightBlue;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     overflow: hidden;

}
.header{
	// height: 300px; // jQuery overrides this
	overflow: hidden;
	text-align: center;
	h1{
		color: white;
        font-size: 100px;
	}
}

.heroContent {
	display: inline-block;
	// text-align: center;
}

#about{
	position: relative;
	p, h1, button{
		margin-left: 270px;
	}
	
}
.profile {
	position: absolute;
	top: 90px;
	height: 200px;
	width: 200px;
	border-radius:100px;
	border: 3px solid $darkGray;

}

.padding30 {
	padding:30px 0;
}


.padding50{
	padding-top:50px;
}
.padding70 {
	padding:70px 0;
}

.padding100 {
	padding-top: 100px;
}
.margin100 {
	margin-top: 100px;
}
// buttons

.primaryCTA{
	width: 255px;
	height: 65px;
	background-color: white;
	border-radius: 50px;
	color: $darkGray;
	border: 3px solid $lightBlue;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	font-weight: 300;
	&:focus{
		outline: 0;
	}
	&:hover{
		cursor:pointer;
		background-color: $lightBlue;
		color: white;
	}
}

.wide{
	width: 320px;
	height: 75px;
	border-radius: 70px;
	border: 3px solid $yellow;
	background-color: white;
	&:hover{
		background-color: $yellow;
	}

}


.centeredContainer {
	margin: 0 auto;
	text-align: center;
	display: block;
	margin-top: 42px;
}

.rightContainer {
	clear: both;
	text-align: right;
	display: block;
	float: right;
	width: 35%;
	margin-top: 40px;
	button{
		float: left;
	}
}

.rightExtend{
	margin: 7% 25% 0 0;
}

.topExtend{
	margin-top: 3%;
}