// Color variables
$darkGray: rgb(60,60,60);
$gray: rgb(90,90,90);
$lightGray: rgb(230,230,230);
$blue: rgb(0,50,60);
$lightBlue: rgb(0,100,150);
$purple: rgb(50,20,25);
$red: rgb(95,15,15);
$yellow: rgb(250,155,30);

// Fonts


//Page styling
html {
	// padding: 0;
	// margin: 0;
}
body {
	margin: 0 auto;
	background-color: $lightGray;
	height: auto;
	min-height: 100%
}


// Headers and body text

h1 {
	margin: 35px 15px 35px 15px;
	color:$blue;
	font-size: 32px;
	font-weight: 700;
}

h2{ 
	margin: 0 15px 25px 15px;
	font-size: 24px;
	font-weight: 600;
}

h3{ 
	margin: 0 15px 15px 15px;
}

p{ 
	margin: 0 15px 35px 15px;
}


// Useful classes

.marginBottom20{
	margin-bottom: 20px;
}

.marginBottom10{
	margin-bottom: 10px;
}

.marginBottom50{
	margin-bottom: 50px;
}


.leftColumn{
	float: left;
	width: 50%;	
}

.rightColumn{
	float: right;
	width: 50%;
}

.twoColumnContainer{
	width: 100%;
}

.clear{ 
	clear: both;
}

.wrap{
	margin: 0 6%;
	max-width: 1000px;
}

.header{
	height: 300px; // jQuery overrides this
	overflow: auto;
	background-color: $yellow;
	
	h1{
		padding: 15px 0 0 20px;
	}
}