nav {
    color: white;
    background-color: $blue;
    display: inline-block;
    width: 100%;
    ul {
        margin: 0 auto;
        text-align: center;
        border: 1px solid yellow;
        display: inline-block;
        text-align: center;
        display: inline-block;
        // width: 100%;
        // float: right
    }
    li {
        display: inline-block; // replaces float
        float: left;
        clear: left;
        border: 1px solid red;
        list-style: none;
        a {
            color: white;
            text-decoration: none;
            padding: .8em 2em;
            border: 1px solid green;
            display: inline-block;
        }
    }
}