// description styles

.leftColumn{
	float: left;
	width: 60%;	
	min-height: 70px;
	text-align: left;
	// border-right: 4px solid $yellow;
	p{
		margin: 0 5px 0 0;
		padding: 0;
	}
	
}

.rightColumn{
	float: right;
	width: 35%;
	// border-left: 4px solid $yellow;
	padding-left: 20px;
	p{
		margin: 0;
		padding: 0;
	}
	ul {
		border-left: 3px solid $yellow;
		padding-left: 15px;
		list-style-type: disc;
		list-style-position: inside;
	}
}

// display


.visible{
	display:block;
}

.desktopHidden{
	display: none;
}


// button styles

.projectImages{
	margin: 40px 0;
	ul{
		text-align: center;
		li{
			display: inline-block;
		}
	}
}

.centerCircle {
	margin: 0 4%;
}

.currentBackground {
		background-color: $darkGray !important;
	color: white !important;
}
.ttCurrent{
	// background-image: url(../images/TT_TTsite_colorized.jpg) !important;
	// border: 7px solid $purple !important;
}

.ssCurrent{
	// background-image: url(../images/TT_SublimeScript_colorized.jpg) !important;
	// border: 7px solid $purple !important;
}

.githubCurrent{
	// background-image: url(../images/TT_Github_colorized.jpg) !important;
	// border: 7px solid $purple !important;
}
.emailCurrent {
	// background-image: url(../images/TT_strategy_colorized.jpg) !important;
	// border: 7px solid $purple !important;
}

.copyCurrent {
	// background-image: url(../images/TT_copy_colorized.jpg) !important;
	// 	border: 7px solid $purple !important;

}

.educationCurrent{
	// background-image: url(../images/TT_education_colorized.jpg) !important;
	// border: 7px solid $purple !important;

}

.workImage{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	color: $darkGray;
	background-color: white;
	border: 0;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	border: 3px solid $darkGray;
	&:focus{
		outline: 0;
	}
	&:hover{
		cursor:pointer;
		background-color: $darkGray;
		// border: 7px solid $darkGray;
		color: white;

	}
}


// .emailCTA{
// 	background-image: url(../images/TT_strategy.jpg);
// 	&:hover {
// 		background-image: url(../images/TT_strategy_colorized.jpg);
// 	}
// }

// .copyCTA{
// 	background-image: url(../images/TT_copy.jpg);
// 	&:hover {
// 		background-image: url(../images/TT_copy_colorized.jpg);
// 	}
// }

// .educationCTA{
// 	background-image: url(../images/TT_education.jpg);
// 	&:hover {
// 		background-image: url(../images/TT_education_colorized.jpg);
// 	}
// }

// .ttCTA{
// 	background-image: url(../images/TT_TTsite.jpg);
// 	&:hover {
// 		background-image: url(../images/TT_TTsite_colorized.jpg);
// 	}
// }

// .ssCTA{
// 	background-image: url(../images/TT_SublimeScript.jpg);
// 	&:hover {
// 		background-image: url(../images/TT_SublimeScript_colorized.jpg);
// 	}
// }

// .githubCTA{
// 	background-image: url(../images/TT_Github.jpg);
// 	&:hover {
// 		background-image: url(../images/TT_Github_colorized.jpg);
// 	}
// }