// description styles

.leftColumn{
	float: left;
	width: 30%;	
	min-height: 70px;
	text-align: right;
	border-right: 2px solid $yellow;
	ul{
		li{
			margin-right: 10px;
			font-size: 22px;
		}
	}
	
}

.rightColumn{
	float: right;
	width: 65%;
	p{
		margin: 0;
		padding: 0;
	}
}



// button styles

.projectImages{
	margin: 40px;
	ul{
		text-align: center;
		li{
			display: inline-block;
			margin: 0 2%;
		}
	}
}
.ttCurrent{
	background-image: url(../images/TT_TTsite_colorized.jpg) !important;
	border: 7px solid $purple !important;
}

.ssCurrent{
	background-image: url(../images/TT_SublimeScript_colorized.jpg) !important;
	border: 7px solid $purple !important;
}

.githubCurrent{
	background-image: url(../images/TT_Github_colorized.jpg) !important;
	border: 7px solid $purple !important;
}
.emailCurrent {
	background-image: url(../images/TT_strategy_colorized.jpg) !important;
	border: 7px solid $purple !important;
}

.copyCurrent {
	background-image: url(../images/TT_copy_colorized.jpg) !important;
		border: 7px solid $purple !important;

}

.educationCurrent{
	background-image: url(../images/TT_education_colorized.jpg) !important;
	border: 7px solid $purple !important;

}

.workImage{
	width: 200px;
	height: 200px;
	border-radius: 100px;
	color: $lightGray;
	border: 0;
	font-size: 24px;
	font-weight: 300px;
	border: 7px solid white;
	// border: 7px solid $transparent;
	&:focus{
		outline: 0;
	}
	&:hover{
		cursor:pointer;
		border: 7px solid $purple;

	}
}


.emailCTA{
	background-image: url(../images/TT_strategy.jpg);
	&:hover {
		background-image: url(../images/TT_strategy_colorized.jpg);
	}
}

.copyCTA{
	background-image: url(../images/TT_copy.jpg);
	&:hover {
		background-image: url(../images/TT_copy_colorized.jpg);
	}
}

.educationCTA{
	background-image: url(../images/TT_education.jpg);
	&:hover {
		background-image: url(../images/TT_education_colorized.jpg);
	}
}

.ttCTA{
	background-image: url(../images/TT_TTsite.jpg);
	&:hover {
		background-image: url(../images/TT_TTsite_colorized.jpg);
	}
}

.ssCTA{
	background-image: url(../images/TT_SublimeScript.jpg);
	&:hover {
		background-image: url(../images/TT_SublimeScript_colorized.jpg);
	}
}

.githubCTA{
	background-image: url(../images/TT_Github.jpg);
	&:hover {
		background-image: url(../images/TT_Github_colorized.jpg);
	}
}